<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970588219140-kjon5286cd50se9m2ie5e7lj0ujm4rta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970588219140-kjon5286cd50se9m2ie5e7lj0ujm4rta</string>
	<key>API_KEY</key>
	<string>AIzaSyALjDL1FJtHe06QDirPmsLmcRwSB0ZIb24</string>
	<key>GCM_SENDER_ID</key>
	<string>970588219140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>new-articles-524da</string>
	<key>STORAGE_BUCKET</key>
	<string>new-articles-524da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970588219140:ios:c7d15f290c8a8b2b8f5251</string>
	<key>DATABASE_URL</key>
	<string>https://new-articles-524da-default-rtdb.firebaseio.com</string>
</dict>
</plist>